/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 30, 2018, 5:09:13 PM
    Author     : PHUONGTHUAN
*/

.mytable {
    border: solid black;
    padding: 20px;
}


